.amministrazione > a {
        font-size: 13px !important;
        font-weight: bold;
        color: #420101
    }

    h1.amministrazione {
        font-size: 2rem !important;
        color: black;
        padding: 15px;
        font-weight: 700 !important;
    }

    div.container-fluid.amministrazione {
        background: #30373d !important;

    }

    .card-body.amministrazione {
        background: #ffb401;
        pading: 1%;
    }

    .card-body {
        margin-bottom: 0px !important;
        line-height: 95%;
        padding-bottom: 0px !important;
    }

    div.card:after {
        display: none !important;
    }

    small.date-card {
        font-size: 0.8em !important;
    }

    small.categroy-card {
        color: #be880b;
        font-weight: bolder;
    }

    a > h2.amministrazione {
        font-size: 1.2rem !important;
        color: black;
        padding: 17px;
        font-weight: 800 !important;

    }

    .card.amministrazione {
        box-shadow: 1px 1px 5px 0px rgba(156, 156, 156, 1);
        display: block!important;
        width: auto!important;
        height: fit-content;
    }

    h5.card-title.align-middle {
        margin-top: 2%;
        margin-bottom: 0%;
    }
    .card.amministrazione > div.card-body{
        margin-bottom: 1em!important;
    }